.voltar-btn{
    background-color: #b20d0d;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(49, 22, 235, 0.3);
    color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.voltar-btn:hover{
    background-color: #b22e2ee2;
}

.logout-btn{
    background-color: #b20d0d;
    padding: 10px;
    border-radius: 10px;
    width: 5%;
    box-shadow: 3px 3px 3px rgb(49, 22, 235, 0.3);
    color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-right: 5px;
    float: right;

}
    .logout-btn:hover{
        background-color: #b22e2ee2
    }

    .painel-btn {
        display: flex;
        background-color: #180b94;
        padding: 10px;
        border-radius: 10px;
        width: 30%;
        box-shadow: 3px 3px 3px rgba(49, 22, 235, 0.3);
        color: #fff;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 20px;
        margin-left: 35%;
        justify-content: center;
    }
    .painel-btn:hover{
        background-color: #5141ce;
    }

    .bts-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 50px auto;
        width: 100%;
        
        input {
            appearance: none;
            border: none;
        }
    
        .button{
            background-color: #180b94;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 3px 3px 3px rgb(49, 22, 235, 0.3);
            color: #fff;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s
        }
        .button:hover,.button:active{
            background-color: #5141ce;
        }
    }