<table mat-table [dataSource]="notas">
  <ng-container matColumnDef="aluno">
    <th mat-header-cell *matHeaderCellDef> Aluno </th>
    <td mat-cell *matCellDef="let element"> {{element.aluno}} </td>
  </ng-container>
    <ng-container matColumnDef="disciplina">
      <th mat-header-cell *matHeaderCellDef> Disciplinas </th>
      <td mat-cell *matCellDef="let element"> {{element.disciplina}} </td>
    </ng-container>
    <ng-container matColumnDef="n1">
      <th mat-header-cell *matHeaderCellDef> N1 </th>
      <td mat-cell *matCellDef="let element"> {{element.n1}} </td>
    </ng-container>
    <ng-container matColumnDef="n2">
      <th mat-header-cell *matHeaderCellDef> N2 </th>
      <td mat-cell *matCellDef="let element"> {{element.n2}} </td>
    </ng-container>
    <ng-container matColumnDef="mf">
      <th mat-header-cell *matHeaderCellDef> MF </th>
      <td mat-cell *matCellDef="let element"> {{element.mf}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>